
.wrapper {
  position: relative;
  margin-top: 20px;
}

.speed {
  width: 100%;
  background: #7e7e7e;
  height: 15px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.speed-bar {
  height: 100%;
  background: #ffc600;
  width: 1%;
}